<% include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <main>
                <h1>My Products</h1>
                <p>List of all the products...</p>
                <% if (prods.length> 0) { %>
                    <form action="/removeItem" method="POST">
                        <label for="remove">Title to Remove:</label>       
                        <input type="text" name="remove">                                         
                        <button type="submit" id="remove">Remove</button>
                    </form>
                    <ul class="grid">
                        <% prods.forEach((prod)=> { %>
                            <li>
                                <article class="card product-item">
                                    <header class="card__header">
                                        <h1 class="product__title">
                                            <%= prod.title %>
                                        </h1>
                                    </header>
                                    <div class="card__image">
                                        <% if (prod.picture) { %>
                                            <img src="<%= prod.picture %>" alt="item Image">
                                    </div>
                                    <% } else { %>
                                        <img src="https://us.123rf.com/450wm/pavelstasevich/pavelstasevich1811/pavelstasevich181101028/112815904-no-image-available-icon-flat-vector-illustration.jpg?ver=6"
                                            alt="item Image"></div>
                                        <% } %>
                                            <div class="card__content">
                                                <h2 class="product__price">Price $:<%= prod.price %>
                                                </h2>
                                                <p class="product__description">
                                                    <%= prod.description %>
                                                </p>
                                            </div>
                                            <h4>Raiting: <%= prod.raiting %>
                                            </h4>
                                            <!-- <div class="card__actions">
                                    <button class="btn">Add to Cart</button>
                                </div> -->
                                </article>
                            </li>
                            <% }) %>
                    </ul>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('includes/end.ejs') %>